html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

:root {
  --Transisiton: 0.5s ease-in;
  --primary-color: #cdd8fe;
  --secondary-color: #ffffff;
  --accent-color: #add8e6;
  --night-mode: #00040f;
}

body {
  display: flex;
  background-color: var(--primary-color);
  background: var(--primary-color);
  justify-content: center;
  font-family: Roboto, Arial;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  transition: all 0.25s ease-in;
}

input {
  border: none;
}
.containerss {
  display: flex;
}

.container-box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 10px;
  position: relative;
  flex: 1;
  max-height: 94px;
  max-width: 590px;
  overflow: hidden;
  transition: 1s ease-out;
}

.container-box.height {
  transition: 1s ease-in;
  max-height: 5000px;
  overflow: auto;
}

.Search-box {
  display: flex;
  justify-content: center;
}

input {
  outline: none;
}

.search-button {
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 10px;
}

.location-input {
  border: none;
  flex: 1;
  width: 78%;
}

@media (max-width: 500px) {
  .container-box {
    margin-right: 10px;
    margin-left: 10px;
  }
  .location-input {
    width: 78%;
  }
}

@media (max-width: 1200px) {
  .containerss {
  }
}

@media (max-width: 300px) {
  .location-input {
    width: 60%;
  }
}

h1 {
  text-align: center;
}

.img-element {
  filter: drop-shadow(8px 5px 2px lightgray);
}

.data-details button {
  display: flex;
  position: absolute;
  bottom: 13px;
  right: 10px;
  border: none;
  background-color: transparent;
}

body.night {
  background: linear-gradient(
    108deg,
    #404040 1.87%,
    #131313 117.86%,
    #000 179.26%
  );
  transition: 0.25s ease-in;
}

body.morning {
  background: linear-gradient(108deg, #9ccdfa 1.87%, #fff 179.26%);
  transition: 0.25s ease-in;
}

body.afternoon {
  background: linear-gradient(
    108deg,
    #ffe9bd 0%,
    rgba(255, 190, 82, 0.69) 55.09%,
    rgba(255, 206, 130, 0.52) 86.83%,
    rgba(250, 151, 0, 0.3) 126.04%,
    rgba(255, 162, 21, 0.11) 159.65%,
    rgba(255, 153, 0, 0) 179.26%
  );
  transition: 0.25s ease-in;
}

body.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--night-mode) !important;
  transition: 0.25s ease-in;
}

.imgSVG {
  display: none;
  width: 24px;
  aspect-ratio: 1/1;
}

.data-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* hourly box */
.hourly__daily {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hourly__box {
  max-width: 0;
  overflow: hidden;
  background-color: var(--secondary-color);
  margin-left: 30px;
  /* padding: 30px; */
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
}

.hourly__box.show {
  transition: 1s ease-in;
  padding: 30px;
  max-width: 1000px;
}

.hourly {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hourly__image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
}

.hourly__image img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hourly span {
  text-align: center;
  margin-right: 10px;
}

.daily__daily {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.daily__box {
  max-width: 0;
  overflow: hidden;
  background-color: var(--secondary-color);
  margin-left: 30px;
  /* padding: 30px; */
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.img-daily {
  width: 100px;
  padding: 1rem;
  margin: 1rem 0;
}

.img-element {
  max-width: 200px;
  margin: 2rem;
  z-index: 100;
}

.daily__box.show {
  transition: 1s ease-in;
  padding: 30px;
  max-width: 1000px;
}

.daily__box {
  margin-bottom: 10px;
}

.daily {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 13px;
}

.daily__image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  gap: 2px;
}

.daily__image img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.daily span {
  text-align: center;
}

.days {
  display: flex;
  justify-content: space-around;
}

.img_element.daily {
  width: 100px;
  padding: 1rem;
  margin: 1rem 0;
}
